<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="1.0.1" targetFramework="net45" />
  <package id="AutoFixture" version="3.34.2" targetFramework="net45" />
  <package id="AutoFixture.AutoRhinoMocks" version="3.34.2" targetFramework="net45" />
  <package id="AutoFixture.Idioms" version="3.34.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net35-client" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net35-client" />
</packages>