.affix {
  height: auto;
}
  
.sideaffix {
  overflow-x: hidden;
  overflow-y: auto;
}

.affix > ul.level1 {
  overflow: inherit;
}

.affix ul > li.active > ul,
.affix ul > li.active > a:before,
.affix ul > li > a:hover:before {
  display: block;
  white-space: inherit;
}